Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
Flask-Login
Flask-Bcrypt
cryptography
Flask-WTF
boto3
pyotp
qrcode
Pillow
WeasyPrint
APScheduler
Flask-Mail
Flask-Limiter
Flask-Talisman
python-dotenv
gunicorn
waitress
psycopg2-binary